<form class="signForm" name="form" ng-controller="fpwdCtrl">
	<div class="signtitle">
		<legend>重置密码</legend>
	</div>

	<fieldset>
		<div class="text-danger text-center padding-bottom-10" ng-show="authError">
			{{authError}}
		</div>
		<div class="form-group" ng-class="{'has-success':form.email.$valid,'has-error':!form.email.$valid && form.email.$dirty}">
			<div class="input-icon">
				<i class="fa fa-envelope-o"></i>
				<input type="email" name="email" id="email" placeholder="邮箱" class="form-control" ng-model="email" ng-change="authError=null" autofocus required>
			</div>
		</div>
	</fieldset>

	<fieldset class="margin-12-5">
		<div class="row">
			<div class="col-md-6">
				<a ui-sref="page.login" class="btn btn-warning btn-block">返回</a>
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn btn-info btn-block" ng-click="fpwd()" ng-disabled='form.$invalid'>重置</button>
			</div>
		</div>
	</fieldset>
</form>