
<form class="form-horizontal" name="step10" id="step10" ng-controller="step10">
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w1==1&&2||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[0].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[0].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w1">{{s10[0].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w1">{{s10[0].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w2==1&&1||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[1].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[1].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w2">{{s10[1].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w2">{{s10[1].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w3==1&&0||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[2].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[2].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w3">{{s10[2].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w3">{{s10[2].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w4==1&&1||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[3].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[3].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w4">{{s10[3].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w4">{{s10[3].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w5==1&&1||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[4].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[4].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w5">{{s10[4].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w5">{{s10[4].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w6==1&&1||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[5].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[5].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w6">{{s10[5].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w6">{{s10[5].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">0</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[6].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[6].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w7">{{s10[6].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w7">{{s10[6].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w8==1&&2||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[7].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[7].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w8">{{s10[7].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w8">{{s10[7].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w9==1&&1||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[8].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[8].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w9">{{s10[8].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w9">{{s10[8].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w10==2&&1||w10==3&&2||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[9].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[9].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w10">{{s10[9].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w10">{{s10[9].txt.rs[1]}}</label>
					<label class="radio-inline"><input type="radio" value="3" ng-model="w10">{{s10[9].txt.rs[2]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w11==1&&1||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[10].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[10].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w11">{{s10[10].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w11">{{s10[10].txt.rs[1]}}</label>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="r_title">
			<div class="pull-right">
				<span class="rtsv"></span><span class="r_score">{{w12==2&&1||w12==3&&2||0}}</span>
			</div>
			<div class="rtl">
				<span class="">{{s10[11].title}}</span> <i class="fa fa-book t-yellow"></i> <i class="fa fa-plus-square t-gray"></i>
			</div>
		</div>
		<div class="myradio">
			<div class="form-group">
				<label>{{s10[11].txt.rt}}</label>
				<div class="radio-list">
					<label class="radio-inline"><input type="radio" value="1" ng-model="w12">{{s10[11].txt.rs[0]}}</label>
					<label class="radio-inline"><input type="radio" value="2" ng-model="w12">{{s10[11].txt.rs[1]}}</label>
					<label class="radio-inline"><input type="radio" value="3" ng-model="w12">{{s10[11].txt.rs[2]}}</label>
				</div>
			</div>
		</div>
	</section>
</form>
